*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
}

*:focus{
    outline: none;
}

html,
body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    height: 100%;
}

.chat{
    height: 100%;
    display: flex;
}

.chat .sidebar{
    width: 300px;
    min-width: 300px;
    background: #eee;
    display: flex;
    flex-direction: column;
}

.chat .sidebar .search{
    height: 40px;
    min-height: 40px;
    border-bottom: 1px solid #ddd;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 10px ;
} 

.chat .sidebar .search input{
    width: 100%;
    height: 30px;
    background: #fff;
    border-radius: 30px;
    padding: 0 35px 0 15px;
}

.chat .sidebar .search i{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #999;
}

.chat .sidebar .contacts{
    overflow: auto;
    flex: 1;
}

.chat .sidebar .contacts ul li a {
    display: flex;
    height: 60px;
    align-items: center;
    padding: 0 10px;
}

.chat .sidebar .contacts ul li a:hover{
    background: #fff;
}

.chat .sidebar .contacts ul li a img{
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

.chat .sidebar .contacts ul li a .contact{
    padding-left: 10px;
}

.chat .sidebar .contacts ul li a .contact .name{
    color: #333;
    font-size: 15px;
    font-weight: 500;
}

.chat .sidebar .contacts ul li a .contact .message{
    color: #999;
    font-size: 13px;
    margin-top: 1.5px;
}

.chat .content{
    flex: 1;
    border-left: 1px solid #ddd;
}

